/* Dashboard.css */
.dashboard-container {
    display: flex;
    flex-direction: row;
    font-family: 'Arial', sans-serif;
    min-height: 100vh;
  }
  
  .dashboard-nav {
    background-color: #343a40;
    color: #fff;
    width: 250px;
    min-height: 100vh;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
  }
  
  .dashboard-header {
    color: #fff;
    padding: 20px 0; /* Add padding for vertical space */
    text-align: center; /* Center the text horizontally */
    font-size: 1.5em; /* Adjust the font size */
  }
  
  .dashboard-nav ul {
    list-style-type: none;
    padding: 0;
    width: 100%; /* Full width for the list */
  }
  
  .dashboard-nav li {
    padding: 15px;
    border-bottom: 1px solid #444;
    width: 100%; /* Full width for the list items */
  }
  
  .dashboard-nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    width: 100%; /* Full width for the links */
  }
  
  .dashboard-nav a:hover {
    background-color: #495057;
  }
  
  .dashboard-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .widget {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .widget-header {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .widget-body {
    font-size: 1em;
  }
  
  @media (max-width: 768px) {
    .dashboard-container {
      flex-direction: column;
    }
  
    .dashboard-nav {
      width: 100%;
    }
  }