.collection-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.card {
  width: calc((100% / 8) - 20px); 
  height: 319px;
  padding: 0.8em;
  background: #f5f5f5;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-img {
  background-color: white;
  height: 50%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 0.5rem;
}

.card-info {
  padding-top: 10%;
}

svg {
  width: 20px;
  height: 20px;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1px;
  border-top: 1px solid #F87B1B;
}


.text-title {
  font-weight: 900;
  font-size: 1.4em;
  line-height: 1.5;
}

.text-body {
  font-size: 1.2em;
  padding-bottom: 10px;
}


.card-button {
  border: 1px solid #252525;
  display: flex;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

/*Hover*/
.card-img:hover {
  transform: translateY(-25%);
  box-shadow: #F87B1B 0px 13px 47px -5px,
    #F87B1B 0px 8px 16px -8px;
}

.card-button:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
}


body {
  font-family: Arial, sans-serif;
}

.toggle-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #11224E;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
 
}

.side-nav {
  position: fixed;
  top: 57px;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #F87B1B;
  overflow-x: hidden;
  transition: 0.3s;
  z-index: 999;
}

.side-nav.open {
  left: 0;
}

.side-nav ul {
  list-style-type: none;
  padding: 0;
}

.side-nav ul li {
  padding: 15px;
  text-align: center;
}

.side-nav ul li a {
  color: white;
  text-decoration: none;
  display: block;
}

.side-nav ul li a:hover {
  background-color: #11224E;
}

.main-content {
  transition: margin-left 0.3s;
  padding: 16px;
}

.main-content.shifted {
  margin-left: 250px;
}

.collection-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  width: calc(12.5% - 20px); /* Adjust the width to fit 8 cards per row */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img img {
  width: 100%;
  height: auto;
}

.card-info {
  padding: 10px 0;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-button {
  cursor: pointer;
  color: #11224E;
}
